.font-family-size {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.bold {
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.center-align {
    text-align: center;
}

.line-through {
    text-decoration: line-through;
}

.line-height {
    line-height: 5;
}

.letter-spacing{
    letter-spacing: 5px;
}

.text-shadow {
    /* 
    1st value = horizontal placement
    2nd value = vertical placement
    3rd value = opacity / blurriness
    4th value = color (x , x , x , alpha = opacity )
     */
    
     text-shadow: 2px 2px 2px rgba(0,0,0, 0.5);
}
